<section class="product">

<h2> <%= @product.name %> </h2>
	
<%= image_tag @product.image.url(:medium) %>
<p><%= @product.description %> </p>
<small> £<%= @product.price_in_pence/100%>   </small>

<div> <%=link_to "Buy",new_product_order_path(@product), data: {turbolinks_track: false} %> </div>


<small> For more information <%= mail_to @product.user.email %> </small>


</section>




